@model DesafioEvertMind.Models.Produtos

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Produtos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="preco" class="control-label"></label>
                <input asp-for="preco" class="form-control" data-mask="9,99" />
                <span asp-validation-for="preco" class="text-danger"></span>
            </div>

            <!-- Certifique-se de incluir a biblioteca de máscaras, como por exemplo o jQuery Mask Plugin -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

            <script>
                $(document).ready(function () {
                    // Aplicar a máscara ao campo de preço
                    $('[data-mask="9,99"]').mask('0#0,00', { reverse: true });
                });
            </script>



            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Voltar para a lista de produtos</a>

</div>